<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Payment{% endblock %}</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'payment/materialize.css' %}"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="{% static 'payment/materialize.js' %}"></script>
        <script src="{% static 'payment/init.js' %}"></script>
    </head>

    <body>
        <div class="card ">
                <div class="col s12 m12 l12">
                    <div class="card-panel White">
                        <p>
                            <span>{{ name }}<br></span>
                            <span>User details<br>&nbsp;&nbsp;&nbsp;&nbsp;{{ bill.aadhar }}</span>
                            <span>Address:<br>&nbsp;&nbsp;&nbsp;&nbsp;{{ bill.aadhar.phone }}</span>
                            <span><br>&nbsp;&nbsp;&nbsp;&nbsp;{{ bill.aadhar.email }}</span>
                            <span><br>&nbsp;&nbsp;&nbsp;&nbsp;{{ bill.aadhar.phone }}</span>
                            <span><br>&nbsp;&nbsp;&nbsp;&nbsp;{{ bill.aadhar.area }}</span>
                            <span><br>&nbsp;&nbsp;&nbsp;&nbsp;{{ bill.aadhar.area }}</span>
                            <span><br>&nbsp;&nbsp;&nbsp;&nbsp;{{ bill.aadhar.city }}</span>
                            <span><br>&nbsp;&nbsp;&nbsp;&nbsp;{{ bill.aadhar.zip }}</span>
                        </p>
                        <div class="divider"></div>
                        <div class="section">
                            <p>
                                <span >Bill date {{bill.bill_date}}<br>Bill due date {{bill.due_date}}<br>
                                            Bill amount {{bill.bill}}
                                </span>
                            </p>
                        </div>
                        <div class="divider"></div>
                    </div>
                </div>
        </div>
    </body>
</html>