{% extends 'payment/base.html' %}

{% block title %}
    Due bill
{% endblock %}

{% block nav %}

{% endblock %}

{% block bread %}


{% endblock %}

{% block body %}











            <div class="col s12 m12 l12">
                <div class="card-panel teal lighten">
                    <p>
                        <span class="white-text">username - {{ bills.aadhar }}</span>
                    </p>
                    <div class="divider"></div>
                    <div class="section">
                        <p>
                            <span class = "white-text">Bill date {{bills.bill_date}}<br>Bill due date {{bills.due_date}}<br>
                                        Bill amount {{bills.bill}}<br>Payment status :
                                {% if bills.status %}
                                    Paid
                                {% else %}
                                    Unpaid
                                {% endif %}
                            </span>
                        </p>
                    </div>
                    <div class="divider"></div>
                </div>
            </div>
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block parallax %}

{% endblock %}

{% block footer %}

{% endblock %}
