{% extends 'payment/base.html' %}

{% block title %}
    Upload
{% endblock %}

{% block nav %}
    <li><a href="{% url 'payment:company_change_password' %}">Change Password</a></li>
    <li><a href="{% url 'payment:user_logout' %}">Logout</a></li>
{% endblock %}

{% block side_nav %}
    <li><a href="{% url 'payment:company_change_password' %}">Change Password</a></li>
    <li><a href="{% url 'payment:user_logout' %}">Logout</a></li>
{% endblock %}

{% block bread %}
    <a href="{% url 'payment:index' %}" class="breadcrumb">Home</a>
    <a href="{% url 'payment:company_detail' %}" class="breadcrumb">{{ name }}</a>
    <a href="" class="breadcrumb">Upload</a>
{% endblock %}

{% block body %}

    <div class="col s12 m12 l12">
        <div class="card-panel teal">
            <h5><span class="white-text">Billing database updation</span></h5>
            <div class="container z-depth-5">
                <div class="card-panel white">
                    <div class="row">
                        <form class="col s12" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                                <div class="file-field input-field">

                                    <div class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="The upload file format is in the 'More Info' section">
                                        <span>File</span>
                                        <input type="file" name = "file" placeholder="" id="file">
                                    </div>
                                    <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                    </div>
                                </div>
                                <button class="btn waves-effect waves-light center" type="submit" name="action">Submit
                                    <i class="material-icons right">send</i>
                                </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block parallax %}
    <div id="index-banner1" class="parallax-container">
            <div class="section no-pad-bot">
                <div class="container">
                    <br><br>
                    <div class="row bottom">
                        <h5 class="header col s12 light white-text">       </h5>
                    </div>
                    <div class="row bottom">
                        <a href="{% url 'payment:user_logout' %}" id="download-button1" class="btn-large waves-effect waves-light teal lighten-1btn tooltipped" data-position="bottom" data-delay="250" data-tooltip="Click to logout">Logout</a>
                    </div>
                    <br><br>
                </div>
            </div>
            <div class="parallax">
                {% load staticfiles %}
                <img src="{% static 'payment/images/Company1.png' %}" alt="Unsplashed background img 1">
            </div>
    </div>

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 m12 l12">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class="material-icons">info</i>More info</div>
                            <div class="col s12 m12 collapsible-body">
                                <div class="card teal horizontal">
                                    <div class="card-image">
                                        {% load staticfiles %}
                                        <img src="{% static 'payment/images/Help1.png' %}">
                                        <span class="card-title">Site Guide</span>
                                    </div>
                                    <div class="card-content white-text">
                                        <p>This page billing database can be updated by uploading a update file.
                                            The format of the update file must be as below:</p>
                                        <p> The file must be of type txt<br><br>
                                            Each line in the text file has 6 values separated by tabs or spaces<br><br>
                                            Each line holds the bill data for one user in the following order<br><br>
                                            aadhar_id bill_date bill_due_date bill_amount consumption(units) payment_status<br><br>
                                            All the dates are in the format 'yyyy-mm-dd' or 'yyyy/mm/dd'<br><br>
                                            If there is a discrepancy in the data, all the processed bills will be deleted and an error message will be displayed
                                        </p>
                                        <p>Make sure you logout before leaving to ensure that
                                        your account will not be misused</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="{% url 'payment:user_logout' %}">Logout</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header active"><i class="material-icons">flash_on</i>Upload billing files</div>
                            <div class="collapsible-body">
                                <div class="section">
                                    <p class="light">By Uploading the new billing info all users will be automatically given access to
                                        their new bills. Make sure that the format of the update file is as mentioned above.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block sidebar %}

{% endblock %}

{% block footer %}
    <li><a class="grey-text text-lighten-3" href="{% url 'payment:index' %}">Home</a></li>
    <li><a class="grey-text text-lighten-3" href="{% url 'payment:user_logout' %}">Logout</a></li>
    <li><a class="grey-text text-lighten-3" href="/admin/">Admin</a></li>
{% endblock %}